# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

.env
